.header{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/header-bg.png");
}

.intro{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
	left: 16%;
	top: 50%;
	transform: translate(-20%,-50%);

    span{
        color: #fc9700;
    }

    .details{
        color: #1e4f5c;
        margin-top: 5px;
    }

    h1{
        font-family:'Montserrat';
        font-size: 46px;
        margin:0px;
        letter-spacing: 3px;
        color:#236c7e;
    }

    p{
        color: #064757; font-weight: 500;
        margin-bottom: 15px;
    }

    .header-btn{
        width:110px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #236c7e;
        box-shadow: 5px 10px 30px rgba(2, 82, 255, 0.137);
        border-radius: 10px;
        color:#ffffff;

        &:hover{
            background-color: #04afda;
            transition: all ease 0.5s;
            color: #ffffff;
            box-shadow: 5px 0px 30px rgba(2, 154, 255, 0.39);
        }
    }
}