nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
    padding: 10px 0;

    @media(max-width:1100px) {
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
        position: fixed;
    }

    .logo {
        img{
            width: 120px;

            @media(max-width:1100px){
                width:70px;
            }
        }
    }

    .menu{
        display: flex;

        @media(max-width:1100px){
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#FFFFFF;
            border-bottom:4px solid #064757;
            width:100%;
            padding:0px;
            margin:0px;
        }

        li {
            @media(max-width:1100px){
                width:100%;
            }

            a {
                height:40px;
                line-height: 43px;
                margin: 3px;
                padding: 0px 22px;
                display: flex;
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: 500;
                color:#242424;
                letter-spacing: 1px;
                border-radius: 3px;
                transition: 0.2s ease-in-out;

                @media(max-width:1100px){
                    width:100%;
                    height:40px;
                    justify-content: center;
                    align-items: center;
                    margin:0px;
                    padding: 25px;
                    border:1px solid rgba(38,38,38,0.03);
                }

                &:hover{
                    background-color: #064757;
                    color:#FFFFFF;
                    box-shadow: 5px 10px 30px rgba(64, 149, 198, 0.411);
                    transition: all ease 0.2s;
                }

                &.active{
                    background-color: #236c7e;
                    color:rgb(255, 255, 255);
                    box-shadow: 5px 10px 30px rgba(64, 149, 198, 0.411);
                    transition: all ease 0.2s;
                }
            }
        }
    }

    .property{
        font-family: calibri;
        height:40px;
        line-height: 43px;
        padding: 0px 10px;
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        color:#ffffff;
        letter-spacing: 1px;
        border-radius: 3px;
        transition: 0.2s ease-in-out;
        background-color: #236c7e;

        @media(max-width:1100px){
            background: none;
            font-size: 13px;
            color: #000;
            padding: 0px;
        }
    }
}

nav .menu-btn,
.menu-icon{
    display:none;
}

@media(max-width:1100px){
    .menu-icon{
        display:block;
        cursor:pointer;
        float:right;
        padding:28px 20px;
        position:relative;
        user-select: none;

        .nav-icon{
            background-color:#333333;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:20px;

            &:before,
            &:after{
                background:#333;
                content:'';
                display:block;
                height:100%;
                position:absolute;
                transition:all ease-out 0.2s;
                width:100%;
            }

            &:before{
                top:5px;
            }

            &:after{
                top:-5px;
            }
        }
    }

    .menu-btn{
        display:none;

        &:checked {
            ~ .menu-icon .nav-icon{
                background:transparent;
            }
    
            ~ .menu-icon .nav-icon:before{
                transform: rotate(-45deg);
                top:0;
            }
    
            ~ .menu-icon .nav-icon:after{
                transform: rotate(45deg);
                top:0;
            }
    
            ~ .menu{
                display:block;
            }
        }
    }
}