@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
}

input{
    outline: none;
    border: none;
}

@import './nav';
@import './howitworks';
@import './header';